@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

nav {
    height: 10%;
    background-color: #222;
}

.logo {
    width: 100px;
    height: auto;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 20px;
}

nav a {
    font-family: Poppins;
    font-size: 12px;
    text-decoration: none;
    color: white;
}

.link {
    position: relative;
    list-style: none;
    padding: 4px 0;
}

.link:hover .dropdown-content {
    display: block;
}

.link::after,
.link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: white;
    transition: all 0.6s ease-in-out;
}

.link::after {
    top: 0;
    right: 0;
    transform-origin: right;
}

.link::before {
    left: 0;
    bottom: 0;
    transform-origin: left;
}

.link:hover::after,
.link:hover::before {
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #222;
    min-height: 125px;
    z-index: 1;
    top: 100%;
    transform: translateX(-10%);
    list-style: none;
    text-align: center;
    padding: 0;
}

.dropdown-content a {
    color: #fff;
    padding: 10px 20px 20px 20px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #575757;
}

.process-support {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 10%;
    margin: auto;
}

.process-support h1 {
    font-size: 38px;
    padding-bottom: 50px;
}

.process-support p {
    padding-top: 50px;
    font-size: 16px;
}

.page-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px 10px;
    background-color: #f4f4f4;
    border-bottom: 2px solid #222;
}

.title-block {
    flex: 1;
    min-width: 300px;
    padding-right: 20px;
}

.title-block h1 {
    font-size: 3em;
    color: #222;
    margin-bottom: 10px;
    margin-top: -10px;
    text-align: center;
}

.title-block h2 {
    font-size: 1.3em;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 20px;
}

.intro-paragraph {
    flex: 1;
    min-width: 300px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin-top: 20px;
    margin-bottom: 50px;
}

.intro-paragraph p {
    font-size: 1.2em;
    color: #333;
}

.main-header p {
    text-align: left;
    font-size: 16px;
}

.meet-group {
    text-align: center;
    padding-top: 50px;
}

.panel-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.panel {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 200px;
    width: 300px;
    padding: 1rem;
    border-radius: 16px;
    background: #333;
    box-shadow: -1rem 0 3rem #00000067;
    transition: .2s;
    font-family: 'Inter', sans-serif;
    margin: 20px;
    color: #f0f0f0;
}

.panel:hover {
    transform: translateY(-0.4rem);
}

.member-panel {
    position: relative;
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
    margin: 0 0 0;
}

.member-name {
    color: #e0e0e0;
}

.member-name-prefix {
    color: white;
    font-weight: 600;
}

.member-icon span {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 16px 10px;
}

.member-icon img {
    width: 40px;
    height: 40px; 
}

.panel p {
    font-size: 14px;
    margin: 0 0 1rem;
    color: white;
}

.member-role {
    margin: 1rem 0 2rem;
    padding: .5rem 0 1rem;
    line-height: 2;
    margin-bottom: 0;
}

.member-role span {
    font-style: normal;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    font-size: .66rem;
    border: 3px solid #28242f;
    border-radius: 2rem;
    padding: .2rem .85rem .25rem;
    position: relative;
}

.member-role span:hover {
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background-clip: text;
    border-color: white;
}

.choices-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.research-section {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.research-section h1 {
    text-align: center;
    color: #222;
    margin-bottom: 20px;
    font-size: 2em;
}

article {
    margin-bottom: 40px;
}

article h2 {
    color: #333;
    font-size: 1.8em;
    margin-bottom: 10px;
}

article h3 {
    color: #e52e71;
    font-size: 1.4em;
    margin-top: 20px;
    margin-bottom: 10px;
}

article p {
    color: #555;
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 10px;
}

.references-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.references-content h1 {
    text-align: center;
    color: #222;
    margin-bottom: 20px;
    font-size: 2em;
}

.references-box {
    background: #f4f4f4;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.references-list {
    list-style-type: disc;
    padding-left: 40px;
    width: 100%;
}

.references-list li {
    margin-bottom: 15px;
    font-size: 1em;
    line-height: 1.6;
    color: #555;
}

.references-list li a {
    color: #e52e71;
    text-decoration: none;
}

.references-list li a:hover {
    text-decoration: underline;
}


.meeting-minutes-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.meeting-section {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.meeting-section h1 {
    text-align: center;
    color: #222;
    margin-bottom: 20px;
    font-size: 2em;
}

.meeting {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.meeting h2 {
    color: #333;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.meeting ul {
    list-style-type: disc;
    padding-left: 20px;
}

.meeting ul ul {
    list-style-type: circle;
    padding-left: 20px;
}

.meeting li {
    margin-bottom: 10px;
    font-size: 1em;
    line-height: 1.6;
    color: #555;
}

.meeting li strong {
    font-weight: 600;
}


